<div style="margin-bottom:20px; border-top: #dadada solid 2px " >
    <p style="font-size: 20px">{{ category.name }}</p>
    <div class="categoryItemsContainer row">
        {% for product in category.getProducts() %}
            {% set discountObject = app_products_manager.applyStaticDiscounts(product) %}

            <div onclick="window.location='{{ path("product_show", {"id": product.id} ) }}'" class="product productCover">
               <div class="product-mini-wrap">
                   <img class="product miniImage" src="/images/product/{{ product.image }}">
                   <div class="infoStrip">
                       {{ product.name }} | {{ attribute(discountObject, 'product').getCost() }} {{ currency }}
                   </div>
               </div>
            </div>
        {% endfor %}
    </div>
</div>