{% extends ':shared:layout.html.twig' %}
{% block title %}Promotion edit{% endblock %}
{% block body %}
    <a href="{{ path('promotion_index') }}">Back to the list</a>
    <h1>Promotion edit</h1>

    {{ form_start(delete_form) }}
        <input style="float: right" class="btn btn-danger" type="submit" value="Delete">
    {{ form_end(delete_form) }}

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-primary" type="submit" value="Edit" />
    {{ form_end(edit_form) }}

{% endblock %}
