{% extends ':shared:layout.html.twig' %}
{% block title %}xCart: Category #{{ category.id }}{% endblock %}
{% block body %}
    <a class="" href="{{ path('category_list') }}">Back to the list</a>

    <h1>Category: {{ category.name }}</h1>
    <h2>#{{ category.id }}</h2>
    <ul>
        <li>
            {{ form_start(delete_form) }}
                <div>
                    <a class="btn btn-default" href="{{ path('category_edit', { 'id': category.id }) }}">Edit</a>
                    <input class="btn btn-danger" type="submit" value="Delete">
                </div>
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
