{% extends ':shared:layout.html.twig' %}
{% block title %}{{ product.name }}{% endblock %}

{% block stylesheets %}
    {% stylesheets '@AppBundle/Resources/public/stylesheets/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block javascripts %}
    {% javascripts '@AppBundle/Resources/public/js/*'  %}
    <script  src="{{ asset_url }}" ></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <a style="font-size: 16px" href="{{ path('product_index') }}">Back</a>

    {{ wo_render_breadcrumbs() }}
    <h1>{{ product.name }}</h1>
    <div class="row" ng-init="">
        <div class="col-md-5">
            <ul>
                <li>
                    <div class="row">
                        <span class="col-md-8">Cost: {{ product.cost }} {{ currency }}{% if discount %} <span style="color: red">%{{ discount }} off!</span>{% endif %}</span>
                        <span class="col-md-4">Posted: {{ product.createdOn|date('Y-m-d H:i:s') }}</span>
                    </div>
                </li>
            </ul>
            <img class="img product mainImage" src="/images/product/{{ product.image }}" >
        </div>
        <div class="col-md-4">
            <ul class="productActionPanel">
                <li>
                    #{{ product.id }}
                </li>
                <li>
                    <p>Available right now: {% if availability==0 %}
                            <span style="color: red">Not available currently</span>
                        {% else %}{{ availability }}{% endif %}</p>
                </li>
                <li>
                    <p>
                        Description:
                    </p>
                    <p>
                        {{ product.description }}
                    </p>
                </li>
                <li>
                    <button class="btn btn-success" style="font-size: 24px; margin: 0 auto;" ng-click="AddProductToCart({{ product.id }})">Add to cart</button>
                </li>
                {% if is_granted('ROLE_EDITOR') %}
                    <li>
                        {{ form_start(delete_form) }}
                        <div>
                            <a class="btn btn-default" href="{{ path('product_edit', { 'id': product.id }) }}">Edit</a>
                            <a class="btn btn-primary" style="" href="{{ path('product_promote', { 'id': product.id }) }}">Promote</a>
                            <input class="btn btn-danger" type="submit" value="Delete">
                        </div>
                        {{ form_end(delete_form) }}
                    </li>
                {% endif %}
                <li>
                    <p>
                        Comments:
                    </p>
                    <div>
                        {% for comment in product.comments %}
                            <div class="product-comment">
                                <div class="author"><span>From: <b>{{ comment.author.username }}</b></span>
                                    <span class="comment-time">On {{ comment.createdOn|date('Y-m-d H:i:s') }}</span></div>
                                <div class="content">{{ comment.content }}</div>
                            </div>
                        {% endfor %}
                        <form action="{{ path('product_post_comment', { "id" : product.id}) }}"  method="POST">
                            <div class="commentbox">
                                <b>Post a comment</b>
                                <div>
                                    <textarea rows="10" cols="60" id="comment" name="comment" class="form-control col-md-8" placeholder="Anything you want to say"></textarea>
                                </div>
                                <input type="hidden" name="productId" value="{{ product.id }}">
                                <input class="btn btn-default" type='submit' value='Post' />
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
