{% extends ':shared:layout.html.twig' %}

{% block body %}
    <h1>{{ product.name }}</h1>
    <ul>
        <li>
            <div class="row">
               <p class="col-md-9">Cost: {{ product.cost }}</p>
               <p class="col-md-4">Posted: {{ product.createdOn }}</p>
            </div>
        </li>
        <li>
            {{ product.description }}
        </li>
        <li>
            <img src="/images/product/{{ product.image }}" style="width: 250px;">
        </li>

    </ul>
    <ul>
        <li>
            <a href="{{ path('product_index') }}">Back</a>
        </li>
        {% if is_granted('ROLE_EDITOR') %}
            <li>
                <a href="{{ path('product_promote', { 'id': product.id }) }}">Promote</a>
            </li>
            <li>
                <a href="{{ path('product_edit', { 'id': product.id }) }}">Edit</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        {% endif %}
    </ul>
{% endblock %}
