{% extends ":shared:layout.html.twig" %}

{% block title %}My cart{% endblock %}

{% block stylesheets %}
    {% stylesheets '@AppBundle/Resources/public/stylesheets/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block javascripts %}
    {% javascripts '@AppBundle/Resources/public/js/*'  %}
    <script  src="{{ asset_url }}" ></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
<div>
    {% if cart|length > 0 %}
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr class="row">
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Discount %</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cartItem in cart %}
                        <tr class="row" ng-init="addCartProduct({ id: {{ cartItem.id }}, cost: {{ cartItem.totalPrice }}, quantity: {{ cartItem.quantity  }} })">
                            <td><a href="{{ path("product_show", {"id" : cartItem.product.id })}}">{{ cartItem.product.name }}</a></td>
                            <td>
                                <div class="input-group spinner">
                                    <input type="text" class="form-control" ng-model="cart.items['{{ cartItem.id }}'].quantity" value="{{ cartItem.quantity }}">
                                    <div class="input-group-btn-vertical">
                                        <button ng-click="cart.items[{{ cartItem.id }}].addQuantity()"
                                                class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                                        <button ng-click="cart.items[{{ cartItem.id }}].removeQuantity()"
                                                class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                                    </div>
                                </div>
                            </td>
                            <td>{[{ cart.items[{{ cartItem.id }}].getTotalCost() }]} {{ currency }}</td>
                            <td>{% if cartItem.product.promotion %}{{ cartItem.product.promotion.discount }} %{% else %}{% endif %}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('cart_remove', { 'id': cartItem.product.id }) }}">Remove</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>Total: <b>{[{getProductsCostTotal()}]} {{ currency }}</b></p>
        </div>
        <div>
            <a class="btn btn-primary" style="font-size: 25px" ng-click="checkoutCart('{{ path("cart_checkout") }}')" href="#">Checkout</a>
        </div>
    {% else %}
        <h2 style="text-align:center">You don`t have any items in your cart!</h2>
    {% endif %}

</div>
{% endblock %}
